# Spark Pit Platform API - Production Environment
MONGO_URL="mongodb://mongo:27017"
DB_NAME="sparkpit"
CORS_ORIGINS="https://sparkpitlabs.com,https://www.sparkpitlabs.com"
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
JWT_SECRET="fe1eb75f8471cb3be07780b3e2f3fa2fd5b93f703e1e8d5769157341689d4def"
BOT_SECRET_KEY="fe1eb75f8471cb3be07780b3e2f3fa2fd5b93f703e1e8d5769157341689d4def"
REDIS_URL="redis://redis:6379/0"
PORT=8000
HOST=0.0.0.0
